layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 简洁且高效的招聘平台
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 模拟招聘流程
      p.intro-feature-desc 化繁为简，招聘过程全面掌握。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 在线笔试
      p.intro-feature-desc 在线编辑笔试题，一键发送，高效率，费用低廉。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
       i.fa.fa-bolt
      h3.intro-feature-title 即时消息
      p.intro-feature-desc 通过短信、邮件、系统消息，让招聘过程实时跟踪。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 人才库
      p.intro-feature-desc 面试中，入职，离职等全部企业相关人才信息规范记录。